<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

  <body ng-controller="StoreController as store">
      <header>
          <h1 class="text-center">Bub's Angular Store</h1>
          <h2 class="text-center">- best shop to gem hop -</h2>
      </header>

      <div class="list-group">
          <div class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">
              <product-title></product-title>

              <section ng-controller="GalleryController as gallery">
                  <div ng-show="product.images.length">
                      <img class="img img-circle img-thumbnail center-block" ng-src="{{product.images[gallery.current]}}"/>
                  </div>
              </section>

              <section ng-controller="PanelController as panel">
                  <ul class="nav nav-pills">
                      <li ng-class="{ active: panel.isSelected(1) }">
                          <a href ng-click="panel.selectTab(1)">Description</a>
                      </li>
                      <li ng-class="{ active: panel.isSelected(2) }">
                          <a href ng-click="panel.selectTab(2)">Specifications</a>
                      </li>
                      <li ng-class="{ active: panel.isSelected(3) }">
                          <a href ng-click="panel.selectTab(3)">Reviews</a>
                      </li>
                  </ul>

                  <div ng-show="panel.isSelected(1)">
                      <h4>Description</h4>
                      <blockquote>{{product.description}}</blockquote>
                  </div>
                  <div ng-show="panel.isSelected(2)">
                      <h4>Specifications</h4>
                      <blockquote>None Yet</blockquote>
                  </div>

                  <product-reviews ng-show="panel.isSelected(3)"></product-review>
              </section>
          </div>
      </div>
  </body>
</html>
